<h1>ngfor Component</h1>
<h3>Names List</h3>
<div *ngFor="let name of names">{{ name }}</div>
<h3>User List</h3>
<div *ngFor="let user of userList">
  <p>{{ user.id }} - {{ user.name }} - {{ user.email }}</p>
</div>
<h3>User List(table)</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>
