<router-outlet></router-outlet>
<h1>Ana component</h1>
<hr>
<!-- <app-ngfor></app-ngfor>
<hr>
<app-ng-if></app-ng-if>
<hr>
<app-ng-switch></app-ng-switch>
<hr>
<app-ng-class></app-ng-class>
<hr>
<app-ng-style></app-ng-style>
<hr>
<app-ng-model></app-ng-model>
<hr>
<h2 appCustom>Angular (custom directive)</h2> 

<h1>Pipe component</h1>
<app-pipe></app-pipe>-->
<h1>TEMPLATE</h1>
<input #name type="text">
<!-- <button (click)="save(name.value)">konsola yaz</button> -->
<button (click)="name.focus()"> yaz</button>



