<h1>Ana component</h1> 
<div *ngFor="let post of postList">id: {{post.id}} userId: {{post.userId}} Title: {{post.title}} body: {{post.body}}</div>
<!-- <p>id: {{user2?.userId}} title: {{user2?.title}} completed:{{user2?.completed}}</p> -->
<!-- <p>id: {{user?.userId}} title: {{user?.title}} completed:{{user.completed}}</p> -->
<!-- <app-ornek></app-ornek> -->
<router-outlet></router-outlet>

<!-- <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/first-page" [queryParams]="{page: 2,pageSize:1}">First Page</a></li>
    <li><a routerLink="/second-page/5">Second Page</a></li>
    <li><a [routerLink]="['/second-page', 2]">Second Page</a></li>

</ul>
<hr>
<h2>Sayfalar</h2> -->
<!-- <app-ngfor></app-ngfor>
<hr>
<app-ng-if></app-ng-if>
<hr>
<app-ng-switch></app-ng-switch>
<hr>
<app-ng-class></app-ng-class>
<hr>
<app-ng-style></app-ng-style>
<hr>
<app-ng-model></app-ng-model>
<hr>
<h2 appCustom>Angular (custom directive)</h2> 

<h1>Pipe component</h1>
<app-pipe></app-pipe>-->
<!-- <h1>TEMPLATE</h1>
<input #name type="text">
 <button (click)="save(name.value)">konsola yaz</button> 
<button (click)="name.focus()"> yaz</button> -->
<!-- <app-template-driven></app-template-driven> 
<app-reactive></app-reactive>
<app-reactive-type2></app-reactive-type2>-->
<!-- <app-first></app-first>
<app-second></app-second> -->
<!-- <app-first-page></app-first-page>
<app-second-page></app-second-page> -->


