<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>Login Form</h1>
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
      <div class="mb-3">
        <label for="userName" class="form-label">Username:</label>
        <input class="form-control" type="text" formControlName="userName" />
        <div class="mb-3">
          <label class="form-label" for="password">Password:</label>
          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Giriş</button>
    </form>
  </div>
</div>
